* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  color: #262626;
  line-height: 25px;
  font-size: 17px;
  font-weight: 300;
}
